name: hana_in_docker

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: /
          push: true
          tags: ronnychiang/hanaindocker:latest

# env:
#   REGISTRY: ghcr.io
# #   IMAGE_NAME: $(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')
# #   IMAGE_USER: $(echo ${{ github.actor }} | tr '[:upper:]' '[:lower:]')
#   IMAGE_NAME: hanaindocker
#   IMAGE_USER: ronnychiang

# jobs:

#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - name: Check out code
#       uses: actions/checkout@v2
#     - name: login to GitHub Container Registry
#       uses: docker/login-action@v1
#       with:
#         registry: ghcr.io
#         username: ${{ github.actor }}
#         password: ${{ secrets.GITHUB_TOKEN }}
    
# #     - name: downcase REPO
# #       run: | 
# #         echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV } 
        
#     - name: Build the Docker image
#       run: docker build -t ghcr.io/${{ env.IMAGE_USER }}/${{ env.IMAGE_NAME }} .
#     - name: push image to GitHub Container Registry
#       run: docker push ghcr.io/${{ github.actor }}/${{ env.IMAGE_NAME }}:latest
